<div class="container p-3">
  <div class="jumbotron">
    <div class="row">
      <!-- Photo -->
      <div class="col-md-4">
        <img [src]=imageSource class="img-fluid rounded-circle" style="padding: 20px;" />
      </div>

      <!-- Technologies -->
      <div class="col-md-8">
        <div class="panel">
          <div class="h2 panel-heading">
            Technologies
          </div>
          <div class="panel-body">
            <div *ngIf='cvInfo'>
              <div *ngFor='let technology of cvInfo.technologies'>
                <h4>{{technology.category}}</h4>
                <p class="tech-items">{{technology.items| join: ', '}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container p-3">
    <!-- Work Experience -->
    <div class="panel panel-primary">
      <div class="h3 panel-heading">
        Experience
      </div>
      <div class="panel-body">
        <div *ngIf='cvInfo'>
          <div *ngFor='let job of cvInfo.jobs'>
            <h4>{{job.company}}</h4>
            <h5>{{job.city}}</h5>
            <h5>{{job.title}}</h5>
            <p>{{job.startDate | date: 'MMM yyyy'}} - {{job.endDate ? (job.endDate | date: 'MMM yyyy') : 'Present'}}</p>
            <div *ngFor='let duty of job.duties'>
              <p>{{duty}}</p>
            </div>
            <br />
          </div>
        </div>
      </div>
    </div>

    <!-- Education -->
    <div class="panel panel-primary">
      <div class="h3 panel-heading">
        Education
      </div>
      <div class="panel-body">
        <div *ngIf='cvInfo'>
          <div *ngFor='let degree of cvInfo.degrees'>
            <h4>{{degree.university}}</h4>
            <h5>{{DegreeType[degree.degree]}} - {{degree.major}}</h5>
            <p class="edu-dates">{{degree.startDate | date: 'MMM yyyy'}} - {{degree.endDate | date: 'MMM yyyy'}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>