<div class="panel panel-primary">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <a [routerLink]="['/cv/emily']">
          <img src="./assets/images/emily.jpg" class="img-responsive rounded-circle"
            style="max-height:400px;padding:20px;max-width:400px;display:block;margin:auto" />
        </a>
      </div>
      <div class="col-md-6">
        <a [routerLink]="['/cv/bob']">
          <img src="./assets/images/bob.jpg" class="img-responsive rounded-circle"
            style="max-height:400px;padding:20px;max-width:400px;display:block;margin:auto" />
        </a>
      </div>
    </div>
  </div>
</div>
